<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>studdit</title>
        <!--<link rel="stylesheet" href="css/main-header.css">-->
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <!-- Navbar -->
        <header class="navbar">
            <a href="/" class="logo">
                <h1>studdit</h1>
            </a>

            <nav>
                <a href="/about" style="font-size:70%">About Us</a>
                <form id="form-search"><input type="text" id="search" placeholder="Search threads..."></form>
                {{#if user}}
                <a href="/create-thread" id="create-thread-link">Create</a>
                <a href="/logout">Logout</a>
                {{else}}
                <!-- Show Login if user is not logged in -->
                <a href="/login" id="login-link">Login</a>
                {{/if}}
            </nav>
        </header>

    <main>
        <div class="about-container">
        <div class="about-main">
            <h1>About Studdit</h1>
            <hr class="divider">

            <br>
            <p style="text-align:justify">Studdit is a platform that allows De La Salle University students to connect with and learn from each other
                through an online forum format. Students can create, like, and comment on threads posted by students, 
                for students. 
                
                <br><br>
                Threads are organized based on the subject that their topic is about, 
                and students can easily view and interact with threads made under a certain subject by visiting that 
                subject's page.
            </p>
            <br>

            <hr class="divider2">

            <h4>Packages Used</h4>
            <ul>
                <li><a href="https://www.npmjs.com/package/bcryptjs">bcryptjs</a></li>
                <li><a href="https://www.npmjs.com/package/cookie-parser">cookie-parser</a></li>
                <li><a href="https://www.npmjs.com/package/cors">cors</a></li>
                <li><a href="https://www.npmjs.com/package/dotenv">dotenv</a></li>
                <li><a href="https://www.npmjs.com/package/express">express</a></li>
                <li><a href="https://www.npmjs.com/package/express-handlebars">express-handlebars</a></li>
                <li><a href="https://www.npmjs.com/package/jsonwebtoken">jsonwebtoken</a></li>
                <li><a href="https://www.npmjs.com/package/mongodb">mongodb</a></li>
                <li><a href="https://www.npmjs.com/package/mongoose">mongoose</a></li>
                <li><a href="https://www.npmjs.com/package/multer">multer</a></li>
                <li><a href="https://www.npmjs.com/package/nodemon">nodemon</a></li>
            </ul>   

        </div>

        <div class="about-gallery">
            <div class="about-pic"><img src="assets/lance.jpg" style="scale: 27%;" alt="Lance Jacob Ferrer">Lance Jacob Ferrer</div>
            <div class="about-pic"><img src="assets/james.jpg" style="scale: 137%;">James Foo</div>      
            <div class="about-pic"><img src="assets/donie.jpg" style="scale: 40%;">Dolf Ronie Atienza</div>   
            <div class="about-pic"><img src="assets/marc.jpg" style="scale: 25%;">Marc Ian Dumaran</div>   
        
        </div>
        </div>
        
    </main>

    <script src="js/scripts.js"></script>
</body>
</html>
