<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studdit Forum - Login</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/main-header.css">
</head>
<body>
    <header class="navbar">
        <a href="/" class="logo">
            <h1>studdit</h1>
        </a>
        <nav>
            <input type="text" id="search" placeholder="Search threads...">
            <a href="/subjects">Subjects</a> 
            <a href="/create-thread" id="create-thread-link">Create</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <main class="centered-content">
        <h1>Login to Studdit</h1>

        <div class="form-container">
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <div class="submit-button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>

        <p>Don't have an account? <a href="/register">Register here.</a></p>
    </main>

    <footer>
        <p>studdit - All Rights Reserved</p>
    </footer>

    <script>
        document.getElementById("login-form").addEventListener("submit", async function(event) {
            event.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            try {
                const response = await fetch("/users/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ username, password })
                });

                const data = await response.json();
                console.log("Server Response:", data); 

                if (response.ok) {
                    localStorage.setItem('token', data.token);
                    localStorage.setItem('username', data.user.username); 
                    alert("Login successful!");
                    window.location.href = `/users/profile/${data.user.username}`;
                } else {
                    alert(data.message || "Login failed");
                }
            } catch (error) {
                console.error("Error logging in:", error);
                alert("An error occurred, please try again.");
            }
        });

    </script>

    <script src="/js/script.js"></script>
</body>
</html>
