* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #090428;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.navbar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.posts {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 3px;
    order: 2;
}

.post {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-title {
    font-size: 24px;
}

.post-title a{
    color: inherit;
    text-decoration: none;
}

.post-author {
    color: #888;
}

.post-subinfo {
    display: flex;
    justify-content: space-between;
    font-size:12px; 
    color: #808080;
}

.post-subject {
    font-size: 10px;
    font-weight: bold;
    float: left;
}

.post-content {
    margin: 20px 0;
}

.post-interactions button {
    background: #0079d3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.post-interactions button:hover {
    background-color: #005ea1;
}

.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 15px 0px 5px;
    max-height:200px;

    float: right;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: #090428;
    margin: 5px 0;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#form-search{
    display: inline;
}